/* Navbar */
.navbar {
  padding: 12px 25px;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Page Background */
.container {
  margin-top: 60px;
}

/* Card Styling */
.card {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #ffffff;
}

/* Headings */
.card h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card h6 {
  color: #6c757d;
  margin-bottom: 25px;
}


.form-label h4 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}


.form-control {
  height: 45px;
  border-radius: 8px;
}


.btn-success {
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
}

.btn-warning {
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
}

.btn-success:hover {
  background-color: #198754;
}

.btn-warning:hover {
  background-color: #e0a800;
}


.row {
  display: flex;
  justify-content: center;
}
